@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #ADD19E;
  --primary-color-opacity: rgba(173, 209, 158, 0.5);
  --secondary-color: #CEEBB1;
  --terziary-color: #e2f5d0;

    /* Neutral Tones */
  --soft-beige: #F5F5DC;
  --warm-grey: #D3D3D3;
  --off-white: #FAF9F6;

  /* Contrasting Tones */
  --deep-forest-green: #2C5F2D;
  --muted-mustard: #C4A484;
  --soft-coral: #FF6F61;

  /* Earthy Tones */
  --sandy-brown: #F4A460;
  --terracotta: #E07A5F;
  --clay: #B2675E;

  /* Blue Tones */
  --sky-blue: #87CEEB;
  --slate-blue: #6A5ACD;
  --teal: #008080;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700; /* oder 700 für fett */

}




@tailwind base;
@tailwind components;
@tailwind utilities;